@font-face {
  font-family: 'Norse Bold';
  src: url(assets/Norse-Bold.otf);
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: grid;
}

/* HEADER */

.header {
  background-color: #100000;
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  color: white;
  text-align: center;
  padding: 2rem 0 1rem;
}

.logo {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  font-family: 'Norse Bold', sans-serif;
  gap: 0.2rem;
  justify-content: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  font-size: 5rem;
}

.logo img {
  width: 100px;
}

/* MAIN CONTENT */

.content {
  --side-padding: 1rem;
  --btn-color: #586d4b;

  background-color: #f9fafb;
  flex-grow: 1;
  display: grid;
  gap: 2rem;
  padding: 2rem 0;
}

.content > * {
  margin: 0 var(--side-padding);
}

.content .intro, .content h2 {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
}

.content h2 {
  padding: 2rem 0;
}

/* FORM */

.form {
  margin: 0;
}

.form label {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.925rem;
}

.form .container {
  background-color: #fff;
  box-shadow: 0 5px 5px #dddddd;
  padding: 0 var(--side-padding) 2.5rem;
  margin-bottom: 2rem;
}

.fields {
  display: grid;
  gap: 1.5rem 5.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.field input {
  border: 1px solid #e4e6ea;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
}

.field input:focus {
  border-color: #0050d2;
  box-shadow: 2px 2px 3px #c5c5c5;
}

.button {
  margin: 0 var(--side-padding);
  padding: 1rem 3rem;
  background-color: var(--btn-color);
  color: white;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #dddddd;
  transition: all 0.3s;
  font-weight: bold;
}

.button:hover {
  filter: brightness(1.2);
}

.login-link {
  color: var(--btn-color);
  font-weight: bold;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}

@media (min-width: 1024px) {
  body {
    grid-template-columns: 1fr 2fr;
  }

  /* HEADER */

  .header {
    display: grid;
    align-content: space-between;
  }

  .logo {
    margin-top: 7rem;
  }

  /* MAIN CONTENT */

  .content {
    --side-padding: 3rem;
    align-content: center;
  }

  .content .intro {
    max-width: 42.75rem;
    padding-bottom: 2rem;
  }

  .content .intro, .content h2 {
    font-size: 1.4rem;
  }

  /* FORM */

  .fields {
    grid-template-columns: auto auto;
    justify-items: left;
    justify-content: left;
  }

  .field input {
    width: clamp(15rem, 20vw, 20rem);
  }

  .button {
    font-size: 1.2rem;
  }
}
